td {
  border: 1px solid black;
  height: 40px;
  text-align: center;
}
td:hover {
  background-color: #5b5a5a;
}
#container {
  height:300px;
  width:300px;
  margin:auto;
  padding-top:40px;
}
#container-bg {
  background-color:#a09f9f;
  width:40%;
  width:30%;
  margin:auto;
}
#header {
  text-align: center;
  height: 50px;
  font-size:40px;
  font-family: 'Orbitron', sans-serif;
}
button {
  background-color: #00af14;
  border-radius: 30px;
  font-size: 20px;
  top:22px;
  left: 37%;
  position:relative;
  font-family: 'Orbitron', sans-serif;
  border-color: black;
  height:22px;
  animation: shadow-pulse 1.5s infinite;
}
button:hover {
  background-color: #15771f;
  color: white;
}
#stats {
  font-family: 'Orbitron', sans-serif;
  text-align:center;
  position:relative;
  bottom: 30px;
}
@keyframes shadow-pulse {
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
     }
}
#rules {
  width: 170px;
  position: absolute;
  left: 20%;
  top: 30%;
  font-family: 'Orbitron', sans-serif;
}
