td {
  border: 1px solid black;
  height: 40px;
  text-align: center;
  max-width:0;
  animation: flip-horizontal-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) alternate-reverse both;
	animation: flip-horizontal-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) alternate-reverse both;
}
td:hover {
  background-color: #5b5a5a;
}
#container {
  height:300px;
  width:300px;
  margin:auto;
  padding-top:40px;
}
#container-bg {
  background-color:#a09f9f;
  width:40%;
  width:30%;
  margin:auto;
}
#header {
  text-align: center;
  height: 50px;
  font-size:40px;
  font-family: 'Orbitron', sans-serif;
}
#mainBtn {
  background-color: #00af14;
  border-radius: 30px;
  font-size: 20px;
  top:22px;
  left: 37%;
  position:relative;
  font-family: 'Orbitron', sans-serif;
  border-color: black;
  height:22px;
  animation: shadow-pulse 1.5s infinite;
}
button:hover {
  background-color: #15771f;
  color: white;
}
#stats {
  font-family: 'Orbitron', sans-serif;
  text-align:center;
  position:relative;
  bottom: 30px;
}
@keyframes shadow-pulse {
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
     }
     100% {
          box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
     }
}
#rules {
  width: 170px;
  position: absolute;
  left: 20%;
  top: 30%;
  font-family: 'Orbitron', sans-serif;
}
#heartImg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
#bombImg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
#coinImg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 25%;
  top: 10%;
  width: 50%;
  height: 500px;
  overflow: auto;

}


.modal-content {
  font-family: 'Orbitron', sans-serif;
  text-align:center;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
#modalBtn {
 background-color: #00af14;
  border-radius: 30px;
  font-size: 20px;
  bottom:10%;
  position:relative;
  font-family: 'Orbitron', sans-serif;
  border-color: black;
  height:22px;
  animation: shadow-pulse 1.5s infinite;
}
@-webkit-keyframes flip-horizontal-top {
0% {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}
100% {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
}
@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}
@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}
